<div class="container">
  <div class="section">
    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12">
        <div class="icon-block">
          <h2 class="center lime-text"><i class="material-icons directions">email</i></h2>
          <h1>Contact Us</h1>
          </div><!-- e-iconblock -->
          </div><!-- e-cols12m4 -->
    
         <form id="contactForm" class="container-flex" action="" method="post" name="contactForm">
          <div class="row">
              <div class="input-field col m6 s12">
                <i class="material-icons prefix">account_circle</i>
                <input placeholder="Full Name" id="full_name" type="text" class="validate" name="full_name">
                <label for="full_name">Full Name</label>
              </div>
              <div class="input-field col m6 s12">
                <i class="material-icons prefix">email</i>
                <input placeholder="Email" id="email" type="email" class="validate" name="email">
                <label for="email">Email</label>
              </div>
              <div class="input-field col s12">
                <i class="material-icons prefix">mode_edit</i>
                <textarea id="message" name="message" class="materialize-textarea"></textarea>
                <label for="message">Your Message</label>
              </div>
              <div class="col s6">
                <div class="input-field col s12">  
<!--                   <label>Which word best describes your business?</label>
 -->               
  <label></label>

                  <select name="business">
                    <option value="" disabled selected>Which word best describes your business?</option>
                    <option value="1">Bar</option>
                    <option value="2">Restaurant</option>
                    <option value="3">Lounge</option>
                    <option value="4">Theme</option>
                    <option value="5">Wine Bar</option>
                    <option value="6">Sports Bar</option>
                    <option value="7">Bowling Alley</option>
                    <option value="8">Brewery</option>
                    <option value="9">Brew Pub</option>
                    <option value="10">Cidery</option>
                    <option value="11">Other</option>
                  </select>
                </div>
              </div>
              <div class="col s6">
                <div class="input-field col s12">

<!--                   <label>How did you hear about Portland Streetcar Bars?</label>
 -->              
   <label></label>

                  <select name="discovery">
                    <option value="" disabled selected>How did you hear about Portland Streetcar Bars?</option>
                    <option value="1">Online</option>
                    <option value="2">Social Media</option>
                    <option value="3">Advertising</option>
                    <option value="4">Word of mouth</option>
                    <option value="5">Google</option>
                    <option value="11">Other</option>
                  </select>
                </div>
              </div>
              <div class="input-field col s12">
                <button class="btn waves-effect waves-light submit" type="submit" name="action" ng-submit="submit(contactForm)">Submit
                <i class="material-icons right">send</i>
                </button>
                
              </div>
            </div>
          </form> 
 
          </div><!-- e-cols12 -->
        </div><!-- e-row -->
      </div><!-- e-section -->
    </div><!-- e-container -->