
<div class="row">  
  <div class="parallax-container valign-wrapper first">
    <div class="section no-pad-bot header"> 
        <div class="col s6 m6 logo-bg">
          <a class="set" href="https://portlandstreetcarbars.com">
            <div class="shot">
            <h1>
            <span>PORTLAND</span>
            <span>STREETCAR</span>
            <span>BARS</span>
            </h1>
            </div>
          </a>
        </div><!-- e-col6 -->
        <div class="col s6 m6 train-bg">
          <div class="train">
            <img src="img/train-in-green-small.png">
          </div><!-- e-train -->
        </div><!-- e-cols6 -->
    </div><!-- e-section -->
    <div class="parallax">
        <img src="img/pattern1.jpg" alt="Unsplashed background img 1">
    </div><!-- e-parallax -->
  </div><!-- e-e-parallaxcontainervalignwrapper -->
             
 <div class="container">
    <div class="section">
      <!--   Icon Section   -->
      <div class="row"> 
        <div class="col s12">
          <div class="col s12 m4">
              <div class="icon-block">
                <h2 class="center lime-text"><i class="material-icons">local_dining</i></h2>
                <h5 class="center">Options Near You</h5>
                <p class="light">Get directions to or ideas for some of Portland's most popular bars, restaurants, and music venues located near Portland's Convention Center, the Rose Garden Transit Center, the Moda Center, OMSI, and more.</p>
              </div><!-- e-iconblock -->
          </div><!-- e-cols12m4 -->
          <div class="col s12 m4">
              <div class="icon-block">
                <h2 class="center lime-text"><i class="material-icons">directions</i></h2>
                <h5 class="center"><a href="#/get-directions">Get Directions</a></h5>
                <p class="light">Use the <em><a href="https://portlandstreetcarbars.com/#/get-directions#right-panel">portlandstreetcarbar map</a></em> to scope out your next stop. View an extensive list of bars, breweries, and restaurants located with a 1/2 mile of Portland's eastside streetcar loop.</p> 
              </div><!-- e-iconblock -->
          </div><!-- e-cols12m4 -->
          <div class="col s12 m4">
            <div class="icon-block">
                <h2 class="center lime-text"><i class="material-icons">favorite</i></h2>
                <h5 class="center">Track Your Favorites</h5>
                <p class="light">Want to keep track of all of the places you've tried? Start a list of all of the places you like to visit? Create an account and make your past and possible favorites and we'll keep track for you. Coming soon.</p>
            </div><!-- e-iconblock -->
          </div><!-- e-cols12m4 -->
        </div><!-- e-cols12 -->
      </div><!-- e-row -->
  </div><!-- e-section --> 
</div><!-- e-container -->
 </div><!-- e-row -->
 