
    <footer class="page-footer teal">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text"> </h5>
            <p class="grey-text text-lighten-4"> </p>
          </div><!-- col l6 s12 -->
          <div class="col l3 s12">
            <h5 class="white-text"> </h5>
           
          </div><!-- e-col s12 l13 -->
          <div class="col l3 s12">
            <h5 class="white-text"></h5>
           
          </div><!-- e-col s12 l13 -->
        </div><!-- e-row -->
      </div><!-- e-container -->
      <div class="footer-copyright">
        <div class="container">
          Site design and development by Modern Cultivator
          </div><!-- e-container -->
      </div><!-- e-footercopyright -->
    </footer><!-- e-footer -->