
    <footer class="page-footer teal">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text"> </h5>
            <p class="grey-text text-lighten-4"> </p>
          </div><!-- col l6 s12 -->
          <div class="col l3 s12">
            <h5 class="white-text"> </h5>
           
          </div><!-- e-col s12 l13 -->
          <div class="col l3 s12">
            <h5 class="white-text"></h5>
           
          </div><!-- e-col s12 l13 -->
        </div><!-- e-row -->
      </div><!-- e-container -->
      <div class="footer-copyright">
        <div class="container">
         <div>
    &copy;
    <span id="copyright">
        <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>
    </span>
    Site design and development by <a href="http://tresahorney.com" target="_blank"><b>Tresa Horney</b></a>
</div>
          </div><!-- e-container -->
      </div><!-- e-footercopyright -->
    </footer><!-- e-footer -->
 