<script src="/js/materialize.js"></script>
<script src="/js/init.js"></script>
<script src="https://cdn.jsdelivr.net/scrollreveal.js/3.1.4/scrollreveal.min.js"></script>
<script src="/js/scripts.js"></script>   
   
 
  
    <nav>
     <div class="nav-wrapper">
        <a href="#" data-activates="mobile" class="button-collapse"><i class="material-icons">menu</i></a>

        <ul class="right hide-on-med-and-down">
          <li><a href="/">Home</a></li>
          <li><a href="/get-directions">Get Directions</a></li>
          <li><a href="/bar-crawls">Recommended Bar Crawls</a></li>
          <!-- Dropdown Trigger -->
          <li><a class="dropdown-button" href="#!" data-activates="dropdown1">More<i class="material-icons right">arrow_drop_down</i></a></li>
              <!-- Dropdown Structure -->
            <ul id="dropdown1" class="dropdown-content">
              <li><a href="http://www.portlandstreetcar.org/">About the Streetcar</a></li>
              <li><a href="http://trimet.org/#/planner">More about Trimet</a></li>
              <li class="divider"></li>
              <!-- <li><a id="loginstate" href="database.html">Your Saved Lists</a></li> -->
              <li><a href="/contact">Contact Us</a></li>
            </ul>
        </ul>
        <ul class="side-nav" id="mobile">
          <li><a  class="main" href="/">Home</a></li>
          <li><a  class="main" href="/get-directions">Get Directions</a></li>
          <li><a  class="main" href="/bar-crawls">Recommended Bar Crawls</a></li>
          <!-- Dropdown Trigger -->
          <li><a class="dropdown-button" href="#!" data-activates="dropdown2">More<i class="material-icons right">arrow_drop_down</i></a></li>
             <!-- Dropdown Structure -->
          <ul id="dropdown2" class="dropdown-content">
            <li><a href="http://www.portlandstreetcar.org/">About the Streetcar</a></li>
            <li><a href="http://trimet.org/#/planner">More about Trimet</a></li>
            <li class="divider"></li>
          <!--   <li><a id="loginstate" href="database.html">Your Saved Lists</a></li> -->
            <li><a href="/contact"">Contact Us</a></li>
          </ul>
        </ul>
      </div><!-- e-navwr -->
    </nav> 